<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>My BookMarks</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <%links.forEach( link => {%>
        <h1 class="heading">
            <a href=<%= link.link %>><%= link.title %></a>
        </h1>
        <%})%>
        <form action="/" method="POST">
            <input type="text" name="title" placeholder="Enter Title" required>
            <input type="text" name="link" placeholder="Enter Link" required>
            <button type="submit">Add Link</button>
        </form>
    </div>
</body>
</html>